{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="modal-title">{{ song.title }}</h2>
    <a href="{{ song.url }}">lien youtube</a>
    <p>Note personnelle :<h5>{{ song.evaluation*100 }} %</h5></p>
    <p>Artiste : {{ song.artist.name }}</p>
    <p>Title: {{ song.album.title }}</p>

    <a href="{{ path('song_edit', {'id': song.id}) }}" class="btn" role="button">Modifier</a>
    <a href="{{ path('song_remove', {'id': song.id}) }}" class="btn" role="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ song.title }} definitivement ?')">Supprimer</a>
{% endblock %}