{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="card-title">Liste des albums</h2>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">
                Titre
            </th>
        </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td scope="row">
                    <a href="{{ path('artist_show', {'id':artist.id}) }}">{{ artist.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}