{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="modal-title">{{ artist.name }}</h2>

    <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn" role="button">Modifier</a>
    <a href="{{ path('artist_remove', {'id':artist.id}) }}" class="btn" role="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ artist.name }} definitivement ?')">Supprimer</a>
{% endblock %}