{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="card-title">Liste des albums</h2>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">
                Titre
            </th>
            <th scope="col">
                Date de Sortie
            </th>
        </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td scope="row">
                    <a href="{{ path('album_show', {'id':album.id}) }}">{{ album.title }}</a>
                </td>
                <td scope="row">
                    <p>{{ album.releaseDate|date('d/m/Y') }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}