{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="modal-title">{{ album.title }}
    <p>Date de sortie : {{ album.releaseDate|date('d/m/Y') }}</p>

    <a href="{{ path('album_edit', {'id': album.id}) }}" class="btn" role="button">Modifier</a>
    <a href="{{ path('album_remove', {'id':album.id}) }}" class="btn" role="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ album.title }} definitivement ?')">Supprimer</a>
{% endblock %}