{% extends 'base.html.twig'%}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2 class="card-title">{{ action }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn" value="Sauvegarder" />

    {{ form_end(form) }}
{% endblock %}