{% extends "base.html.twig" %}
{% block body %}
        <h4 class="card-title">Bienvenue sur mon application de titres de musique</h4>
        <p class="card-subtitle">Voici une courte liste de titres musicaux que j'apprécie beaucoup</p>
        <hr>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Musique
                    </th>
                    <th scope="col">
                        <a href="{{ path('index_artist') }}">Artiste</a>
                    </th>
                    <th scope="col">
                        <a href="{{ path('index_album') }}">Album</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td scope="row">
                        <a href="{{ path('song_show', {'id':song.id}) }}">{{ song.title }}</a>
                    </td>
                    <td scope="row">
                        <a href="{{ path('artist_show', {'id':song.artist.id}) }}">{{ song.artist.name }}</a>
                    </td>
                    <td scope="row">
                        <a href="{{ path('album_show', {'id':song.album.id}) }}">{{ song.album.title }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn" href="{{ path('adding_song') }}" role="button">Ajouter un titre</a>
        <a class="btn" href="{{ path('adding_album') }}" role="button">Ajouter un album</a>
        <a class="btn" href="{{ path('adding_artist') }}" role="button">Ajouter un artiste</a>

{% endblock %}